<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>450895586499-ftujeaht9927u5h8fq1ptsm2nqke0rmu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.450895586499-ftujeaht9927u5h8fq1ptsm2nqke0rmu</string>
	<key>API_KEY</key>
	<string>AIzaSyANDzDmtQztsZ6khwLRVicB12BiudBG-Ng</string>
	<key>GCM_SENDER_ID</key>
	<string>450895586499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vvhaliti.GhanaRadio</string>
	<key>PROJECT_ID</key>
	<string>ghanaradio-61778</string>
	<key>STORAGE_BUCKET</key>
	<string>ghanaradio-61778.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:450895586499:ios:4b15af46fbac4b7debee76</string>
	<key>DATABASE_URL</key>
	<string>https://ghanaradio-61778.firebaseio.com</string>
</dict>
</plist>