<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290745955062-r2hqs7tmfspljnmnh3npdi7a2u35egdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290745955062-r2hqs7tmfspljnmnh3npdi7a2u35egdb</string>
	<key>API_KEY</key>
	<string>AIzaSyD1h06gH7wNkw6_Uv0dj0MoVm02Zu5fd2M</string>
	<key>GCM_SENDER_ID</key>
	<string>290745955062</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.s3soft.myRadio</string>
	<key>PROJECT_ID</key>
	<string>myradio-638e3</string>
	<key>STORAGE_BUCKET</key>
	<string>myradio-638e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290745955062:ios:bed7f994888291dca432d7</string>
	<key>DATABASE_URL</key>
	<string>https://myradio-638e3.firebaseio.com</string>
</dict>
</plist>